<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>YOUR DEAL</h1>
	</div>
</div>

<div class="content">
	<h2>Yippy! You have accepted <br>this <span class="italic">SWAY!</span></h2>
	<ul class="deal-list">
		<li>
			Follow your endorsement instructions by posting to your favorite social networks. If you are receiving a physical product or coupon for this deal, please wait for any items to arrive before making your post.
		</li>
		<li *ngIf="perk.code">
			<p> Your coupon code is: {{ perk.code }} </p>
			<p *ngIf="perk.instructions">COUPON INSTRUCTIONS: {{ perk.instructions }}</p>
		</li>
		<li>
			Include your required items in your post.
			<br> Simply paste them into your social network when you are ready.
			<br>
			<span class="txt-note">Don't forget to hastag #ad to comply with FTC guidelines.</span>
		</li>
		<li>
			<span class="italic">Sway</span> will track your deals automatically and reward you while you focus on your followers
		</li>
		<li>
			You have <strong><em>{{ DaysLeft }}</em></strong> days left to complete this deal before it expires.
		</li>
	</ul>
	<div class="action">
		<a [routerLink]="['/deals']" fragment="pending" class="btn btn-deal">Sounds good!</a>
	</div>
</div>