<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>CASHOUT EARNINGS</h1>
	</div>
</div>

<div class="content">
	<h2>You have ${{ amount.toFixed(2) }} available <br>to <span class="italic">CASHOUT!</span></h2>
	<ul class="deal-list">
		<li>
			In order to receive a check for this amount, Sway must first verify your identity and collect required USA tax information via electronic signature.
		</li>
		<li>
		    This process takes only a few minutes and only needs to be completed once per year
		</li>
		<li>
			Please click the button below and we will EMAIL you your secure forms via HelloSign
		</li>
	</ul>
	<div class="action">
		<a class="btn btn-deal" [routerLink]="['/dealFeed']" *ngIf="amount === 0">Go Back</a>
		<a class="btn btn-deal" (click)="Cashout()" *ngIf="amount > 0">Sounds good!</a>
	</div>
</div>
