<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>CASHOUT EARNINGS</h1>
	</div>
</div>

<div class="content" *ngIf="!!user.inf.requestedCheck">
	<h2>
		You currently have a check pending admin approval. Please wait up to 48 hours for an admin to approve your payment and a
		check will be on it's way. You will receive an email once the admin has approved.
	</h2>
	<div class="action">
		<a class="btn btn-deal" [routerLink]="['/dealFeed']">Go Back</a>
	</div>
</div>
<div class="content" *ngIf="!user.inf.requestedCheck">
	<h2>You have ${{ amount.toFixed(2) }} available <br>to <span class="italic">CASHOUT!</span></h2>
	<ul class="deal-list">
		<li>
			Click the button below to request a check. This can take up to 48 hours for an admin to approve.
		</li>
	</ul>
	<div class="action">
		<a class="btn btn-deal" [routerLink]="['/dealFeed']" *ngIf="amount === 0">Go Back</a>
		<a class="btn btn-deal" (click)="confirmAddr.show()" *ngIf="amount > 0">Sounds good!</a>
	</div>
</div>

<modal #confirmAddr [buttons]=confirmButtons title="Confirm Address" width="790px">
	<div class="nosel">
		<p>Please confirm your name and address below:</p>
		<div>
			<div>Name: {{ info.name }}</div>
			<div>Address Line 1: {{ info.addr1 }}</div>
			<div>Address Line 2: {{ info.addr2 }}</div>
			<div>City: {{ info.city }}</div>
			<div>State: {{ info.state }}</div>
			<div>Zip: {{ info.zip }}</div>
			<div>Country: {{ info.country }}</div>
		</div>
	</div>
</modal>
