<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>YOUR DEAL</h1>
	</div>
</div>

<div class="content" *ngIf="!deal && err">
	<div class="alert alert-danger" role="alert" *ngIf="!!err">{{ err }}</div>
</div>
<div class="content" *ngIf="deal">
	<div class="feature-thumbnail"><img [src]="deal.cmpImg"></div>
	<div class="details">
		<div class="deal-info">
			<h2>{{ deal.cmpName }}</h2>
			<ul>
				<li>PAYOUT REMAINING: <span class="value">${{ deal.spendable | fmtNum }}</span></li>
				<li *ngIf="deal.perk">Perks: <span class="value">{{ deal.perk.name }}</span> (<span class="value">{{ deal.perk.category }}</span>)</li>
				<li *ngIf="deal.perk && deal.perk.code">
					<p> Your coupon code is: <span class="value">{{ deal.perk.code }}</span></p>
					<p *ngIf="deal.perk.instructions">COUPON INSTRUCTIONS: <span class="value">{{ deal.perk.instructions }}</span></p>
				</li>
				<li>Please post to <em>ONLY</em> one of the following networks: <span class="value">{{ deal.platforms?.join(', ') }}</span></li>
			</ul>
		</div>
		<div class="deal-content">
			<p *ngIf="deal.task"><span class="intro">TASK: </span>{{ deal.task }}</p>
			<h4>YOUR POST MUST CONTAIN:</h4>
			<ul>
				<!--<li>Caption: <span class="value">I love skinny bunny tea because it helps me feel good.</span></li>-->
				<li *ngIf="deal.shortenedLink">Put this link in your bio/ caption: <span class="value">{{ deal.shortenedLink }}</span></li>
				<!--<li>Perks: <span class="value">The physical good or coupon must appear within the post</span></li>-->
				<li *ngIf="deal.tags">Hashtags to do: <span class="value">{{ '#' + deal.tags.join(', #') + ', #ad' }}</span></li>
				<li *ngIf="deal.mention">Mentions to do: <span class="value">{{ deal.mention }}</span></li>
			</ul>
		</div>
	</div>
	<div class="action" *ngIf="!deal.assigned">
		<div class="alert alert-danger" role="alert" *ngIf="!!err">{{ err }}</div>
		<button class="btn btn-deal" (click)="Accept()" [disabled]="!!err"><span class="plus-ico"></span>Accept Endorsement</button>
	</div>
	<!--<div class="share-this">
		<a href="#">Share this deal</a>
	</div>-->
</div>