<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>YOUR DEAL</h1>
	</div>
</div>

<div class="content" *ngIf="deal">
	<div class="feature-thumbnail"><img [src]="deal.cmpImg"></div>
	<div class="details">
		<div class="deal-info">
			<h2>{{ deal.cmpName }}</h2>
			<ul>
				<li>PAYOUT REMAINING: <span class="value">${{ deal.spendable | fmtNum }}</span></li>
				<li *ngIf="deal.perks">Perks: <span class="value">{{ deal.perks.name || 'N/A' }}</span></li>
				<li>Accepted: <span class="value">{{ deal.platforms?.join(', ') }}</span></li>
			</ul>
		</div>
		<div class="deal-content">
			<p *ngIf="deal.task"><span class="intro">TASK: </span>{{ deal.task }}</p>
			<h4>YOUR POST MUST CONTAIN:</h4>
			<ul>
				<!--<li>Caption: <span class="value">I love skinny bunny tea because it helps me feel good.</span></li>-->
				<li *ngIf="deal.link">Link in caption: <span class="value">{{ deal.shortenedLink || deal.link }}</span></li>
				<!--<li>Perks: <span class="value">The physical good or coupon must appear within the post</span></li>-->
				<li *ngIf="deal.tags">Hashtags: <span class="value">{{ deal.tags?.join(', ') }}</span></li>
				<li *ngIf="deal.mention">Mentions: <span class="value">{{ deal.mention }}</span></li>
			</ul>
		</div>
	</div>
	<div class="action">
		<div class="alert alert-danger" role="alert" *ngIf="!!err">{{ err }}</div>
		<button class="btn btn-deal" (click)="Accept()" [disabled]="!!err || deal.shortenedLink"><span class="plus-ico"></span>Accept Endorsement</button>
	</div>
	<!--<div class="share-this">
		<a href="#">Share this deal</a>
	</div>-->
</div>
