<div class="endorsement-banner">
	<div class="banner-top">
		<div class="menu"><a href="#"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></div>
		<div class="page-title">
			<h1>SWAY</h1>
		</div>
		<div class="search"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></div>
	</div>

	<div class="banner-content">
		<h3>Featured:</h3>
		<h2>NIKE RUNNING</h2>
		<p>PAYOUT REMAINING: <span>$1,025,991</span></p>
		<p>PERKS: <span>Nike SB Run shoes</span></p>
		<p>ACCEPTED: <span>Instagram, FB, YouTube</span></p>
		<div class="banner-links"><span>dot</span><a href="">VIEW BRAND</a> | <a href="">VIEW ENDORSEMENT</a></div>
	</div>
</div>

<div class="content">

	<ul class="endorsement-list">
		<li class="endorsement-item">
			<div class="thumb"><img src="/infApp/static/images/endorsement/img1.jpg"></div>
			<div class="details">
				<h4>Skinny Bunny Tea</h4>
				<ul class="cat">
					<li>PAYOUT REMAINING: <span>$10,259</span></li>
					<li>PERKS: <span>-name-</span></li>
					<li>ACCEPTED: <span>FB, Twitter, YouTube, Instagram</span></li>
				</ul>
				<a href="#" class="btn btn-view">View Endorsement</a>
			</div>
		</li>
		<li class="endorsement-item">
			<div class="thumb"><img src="/infApp/static/images/endorsement/img2.jpg"></div>
			<div class="details">
				<h4>Steve AoKi</h4>
				<ul class="cat">
					<li>PAYOUT REMAINING: <span>$10,259</span></li>
					<li>PERKS: <span>-name-</span></li>
					<li>ACCEPTED: <span>FB, Twitter, YouTube, Instagram</span></li>
				</ul>
				<a href="#" class="btn btn-view">View Endorsement</a>
			</div>
		</li>
		<li class="endorsement-item">
			<div class="thumb"><img src="/infApp/static/images/endorsement/img3.jpg"></div>
			<div class="details">
				<h4>What When Where</h4>
				<ul class="cat">
					<li>PAYOUT REMAINING: <span>$10,259</span></li>
					<li>PERKS: <span>-name-</span></li>
					<li>ACCEPTED: <span>FB, Twitter, YouTube, Instagram</span></li>
				</ul>
				<a href="#" class="btn btn-view">View Endorsement</a>
			</div>
		</li>
	</ul>
</div>
