<div class="alert alert-info" role="alert" *ngIf="!HasCompleteProfile">Welcome! Deals will appear here. Don't worry, more deals will exist for you after a Sway agent finalizes your account. This
	usually occurs within 24 hours :)</div>
<div class="alert alert-warning" role="alert" *ngIf="!HasAddress">
	To get free products and more deals please enter a shipping address: <a [routerLink]="['/editProfile']">Lets do it</a>
</div>
<div class="endorsement-banner" [style.background-image]="featuredImage">
	<div class="banner-top">
		<div class="menu"><a (click)="toggleMenu()"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></div>
		<div class="page-title">
			<h1>SWAY</h1>
		</div>
		<div class="search"><a [routerLink]="['/influencer']"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></div>
	</div>

	<div class="banner-content" *ngIf="!featured">
		<h3 style="color:#fff;">Endorsement deals appear on this page when you qualify for them. <a href="https://swayops.com/wiki/influencerTraining.php">See WIKI</a></h3>
		<br>
	</div>

	<div class="banner-content" *ngIf="featured">
		<h3>Featured:</h3>
		<h2>{{ featured.cmpName }}</h2>
		<p>YOUR LIKELY EARNINGS: <span *ngIf="!!featured.likelyEarnings">${{ featured.likelyEarnings?.toFixed(2) }}</span><span *ngIf="!featured.likelyEarnings">Free product only</span></p>
		<p *ngIf="featured.perk">PERKS: <span>{{ featured.perk.name || 'N/A' }}</span> (<span class="value">{{ featured.perk.category }}</span>)</p>
		<p>ACCEPTED: <span>{{ featured.platforms?.join(', ') }}</span></p>
		<div class="banner-links">
			<span>dot</span>
			<a [routerLink]="['/dealDetail', featured.campaignId, featured.id]">VIEW OFFER</a>
		</div>
	</div>
</div>

<div class="content">
	<img src="/static/images/noDeals.png" class="nosel" *ngIf="!featured" style="width: 100%">
	<ul class="endorsement-list" id="pending" *ngIf="pending?.length">
		<li class="endorsement-item" *ngFor="let d of pending">
			<div class="thumb"><img src="{{ d.cmpImg }}"></div>
			<div class="details">
				<h4>{{ d.cmpName }}</h4>
				<ul class="cat">
					<li>ASSIGNED: <span>{{ d.assigned * 1000 | date }}</span></li>
					<li *ngIf="d.perks">PERKS: <span>{{ d.perks.name || 'N/A' }}</span></li>
					<li *ngIf="d.reqSub">POST APPROVAL: <span>Required</span></li>
					<li>PLATFORM: <span>{{ d.platforms?.join(', ') }}</span></li>
				</ul>
				<a [routerLink]="['/dealDetail', d.campaignId, d.id]" class="btn btn-view btn-inprogress"><li class="glyphicon glyphicon-refresh"></li> Accepted | See Details</a>
			</div>
		</li>
	</ul>
	<ul class="endorsement-list">
		<ng-template ngFor let-d [ngForOf]="deals">
			<li class="endorsement-item" *ngIf="d.reqSub && !d.submission">
				<div class="thumb"><img src="{{ d.cmpImg }}"></div>
				<div class="details">
					<h4>{{ d.cmpName }}</h4>
					<ul class="cat">
						<li>YOUR LIKELY EARNINGS: <span *ngIf="!!d.likelyEarnings">${{ d.likelyEarnings?.toFixed(2) }}</span><span *ngIf="!d.likelyEarnings">Free product only</span></li>
						<li>POST APPROVAL: <span>Required</span></li>
						<li *ngIf="d.perk">PERKS: <span>{{ d.perk.name || 'N/A' }}</span> (<span class="value">{{ d.perk.category }}</span>)</li>
						<li>ACCEPTED: <span>{{ d.platforms?.join(', ') }}</span></li>
					</ul>
					<a [routerLink]="['/dealDetail', d.campaignId, d.id]" class="btn btn-view">View Offer</a>
				</div>
			</li>
			<li class="endorsement-item" *ngIf="!d.reqSub">
				<div class="thumb"><img src="{{ d.cmpImg }}"></div>
				<div class="details">
					<h4>{{ d.cmpName }}</h4>
					<ul class="cat">
						<li>YOUR LIKELY EARNINGS: <span *ngIf="!!d.likelyEarnings">${{ d.likelyEarnings?.toFixed(2) }}</span><span *ngIf="!d.likelyEarnings">Free product only</span></li>
						<li *ngIf="d.perk">PERKS: <span>{{ d.perk.name || 'N/A' }}</span> (<span class="value">{{ d.perk.category }}</span>)</li>
						<li>ACCEPTED: <span>{{ d.platforms?.join(', ') }}</span></li>
					</ul>
					<a [routerLink]="['/dealDetail', d.campaignId, d.id]" class="btn btn-view">View Offer</a>
				</div>
			</li>
		</ng-template>
	</ul>
</div>
