<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title"></div>
</div>

<div class="content">
	<div class="tabs">
		<div class="tab"><a href="#completed" [class.active]="!pendingTab">Completed</a></div>
		<div class="tab"><a href="#pending" [class.active]="pendingTab">Pending</a></div>
	</div>
	<div class="tab-content">
		<ul class="endorsement-list" id="completed">
			<li class="endorsement-item" *ngIf="!completed.length">No Completed Deals</li>
			<li class="endorsement-item" *ngFor="let d of completed">
				<div class="thumb"><img src="{{ d.cmpImg }}"></div>
				<div class="details">
					<h4>{{ d.cmpName }}</h4>
					<ul class="cat">
						<li>PAYOUT REMAINING: <span>${{ d.spendable }}</span></li>
						<li *ngIf="d.perks">PERKS: <span>{{ d.perks?.name || 'N/A' }}</span></li>
						<li>ACCEPTED: <span>{{ d.platforms?.join(', ') }}</span></li>
					</ul>
					<a [routerLink]="['/postStats', d.id]" class="btn btn-view">View Stats</a>
				</div>
			</li>
		</ul>
		<ul class="endorsement-list" id="pending">
			<li class="endorsement-item" *ngIf="!pending.length">No Pending Deals</li>
			<li class="endorsement-item" *ngFor="let d of pending">
				<div class="thumb"><img src="{{ d.cmpImg }}"></div>
				<div class="details">
					<h4>{{ d.cmpName }}</h4>
					<ul class="cat">
						<li>PAYOUT REMAINING: <span>${{ d.spendable }}</span></li>
						<li *ngIf="d.perks">PERKS: <span>{{ d.perks?.name || 'N/A' }}</span></li>
						<li>COUPON: {{Code Here}}</li>
						<li>COUPON INSTRUCTIONS: {{How to use}}</li>
						<li>ACCEPTED: <span>{{ d.platforms?.join(', ') }}</span></li>
					</ul>
					<a [routerLink]="['/dealDetail', d.campaignId, d.id]" class="btn btn-view">View Endorsement</a>
				</div>
			</li>
		</ul>

	</div>
</div>
