<div class="alert alert-info" role="alert" *ngIf="!HasCompleteProfile">Welcome! Deals will appear here after a Sway agent finalizes your account. Don't worry this only takes a few minutes :)</div>
<div class="alert alert-warning" role="alert" *ngIf="!HasAddress">
	To get free products and more deals please enter a shipping address: <a [routerLink]="['/editProfile']" >Lets do it</a>
</div>
<div class="endorsement-banner">
	<div class="banner-top">
		<menu class="hidden"></menu>
		<div class="menu"><a (click)="toggleMenu()"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></div>
		<div class="page-title">
			<h1>SWAY</h1>
		</div>
		<div class="search"><a [routerLink]="['/influencer']"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></div>
	</div>

	<div class="banner-content" *ngIf="featured">
		<h3>Featured:</h3>
		<h2>{{ featured.cmpName }}</h2>
		<p>PAYOUT REMAINING: <span>${{ featured.spendable }}</span></p>
		<p *ngIf="featured.perks">PERKS: <span>{{ featured.perks?.name || 'N/A' }}</span></p>
		<p>ACCEPTED: <span>{{ featured.platforms?.join(', ') }}</span></p>
		<div class="banner-links">
			<span>dot</span>
			<a [routerLink]="['/dealDetail', featured.campaignId, featured.id]">VIEW ENDORSEMENT</a>
		</div>
	</div>
</div>

<div class="content">
	<ul class="endorsement-list">
		<li class="endorsement-item" *ngFor="let d of deals">
			<div class="thumb"><img src="{{ d.cmpImg }}"></div>
			<div class="details">
				<h4>{{ d.cmpName }}</h4>
				<ul class="cat">
					<li>PAYOUT REMAINING: <span>${{ d.spendable }}</span></li>
					<li *ngIf="d.perks">PERKS: <span>{{ d.perks?.name || 'N/A' }}</span></li>
					<li>ACCEPTED: <span>{{ d.platforms?.join(', ') }}</span></li>
				</ul>
				<a [routerLink]="['/dealDetail', d.campaignId, d.id]" class="btn btn-view">View Endorsement</a>
			</div>
		</li>
	</ul>
</div>
