<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>YOUR DEAL</h1>
	</div>
</div>

<div class="content" *ngIf="!deal && err">
	<div class="alert alert-danger" role="alert" *ngIf="!!err">{{ err }}</div>
</div>
<div class="content" *ngIf="deal">
	<div class="feature-thumbnail"><img [src]="deal.cmpImg"></div>
	<div class="details">
		<div class="deal-info">
			<h2>{{ deal.cmpName }}</h2>
			<ul>
				<li>YOUR LIKELY EARNINGS: <span class="value" *ngIf="!!deal.likelyEarnings">${{ deal.likelyEarnings?.toFixed(2) }}</span>
					<span class="value" *ngIf="!deal.likelyEarnings">Free product only</span>
				</li>
				<li *ngIf="deal.perk">Perks: <span class="value">{{ deal.perk.name }}</span> (<span class="value">{{ deal.perk.category }}</span>)</li>
				<li *ngIf="deal.perk && deal.perk.code">
					<p> Your coupon code is: <span class="value">{{ deal.perk.code }}</span></p>
					<p *ngIf="deal.perk.instructions">COUPON INSTRUCTIONS: <span class="value">{{ deal.perk.instructions }}</span></p>
				</li>
				<li>Please post to <em>ONLY</em> one of the following networks: <span class="value">{{ deal.platforms?.join(', ') }}</span></li>
			</ul>
		</div>
		<div class="deal-content">
			<p *ngIf="deal.task"><span class="intro">TASK: </span>{{ deal.task }}</p>
			<h4>YOUR POST MUST CONTAIN:</h4>
			<ul>
				<!--<li>Caption: <span class="value">I love skinny bunny tea because it helps me feel good.</span></li>-->
				<li *ngIf="deal.shortenedLink">Put this link in your bio/ caption: <span class="value">{{ deal.shortenedLink }}</span></li>
				<!--<li>Perks: <span class="value">The physical good or coupon must appear within the post</span></li>-->
				<li *ngIf="deal.tags">Hashtags to do: <span class="value">{{ '#' + deal.tags.join(', #') + ', #ad' }}</span></li>
				<li *ngIf="deal.mention">Mentions to do: <span class="value">{{ deal.mention }}</span></li>
			</ul>
		</div>
		<div class="deal-content field-group" *ngIf="deal.terms && !deal.assigned">
			<h4>TERMS AND CONDITIONS:</h4>
			<div><textarea class="value" [value]=deal.terms readonly style="width: 100%; resize:vertical; max-height:600px; min-height:150px;"></textarea></div>
			<div class="field checkbox-field">
				<label><input type="checkbox" name="iagree" id="iagree" [(ngModel)]="agreed" required> <strong> I Agree!</strong></label>
			</div>
		</div>
	</div>
	<div class="alert alert-danger" role="alert" *ngIf="!!err">{{ err }}</div>
	<div class="action" *ngIf="deal.assigned && deal.reqSub">
		<div class="content">
			<div class="field-group">
				<h3 class="field-group-hdr">Submit your post for pre-approval:</h3>
				<div class="field two-cols">
					<input class="form-control" type="text" name="msg" [(ngModel)]="data.caption" required placeholder="Enter your post caption here...">
				</div>
			</div>
			<br>
			<div class="field-group">
				<h4 class="field-group-hdr">Upload your picture or video:</h4>
				<div>
					<button type="button" class="btn btn-lg btn-info" (click)="data.content.push('')">Add URL</button>
					<button type="button" class="btn btn-lg btn-info" (click)="data.imgData.push(''); selProfile.show(data.imgData.length - 1);">Add Image</button>
					<br><br>
				</div>
				<ng-template ngFor let-url let-i="index" [ngForOf]="data.content">
					<div *ngIf="url !='X'" style="text-align: left">
						<label for="url-{{i}}">URL: </label>
						<input class="form-control" type="text" id="url-{{i}}" name="url-{{i}}" [value]="url" (change)="data.content[i] = $event.srcElement.value" required placeholder="https://youtube.com/id" style="width: 70%; display:inline;">
						<a [href]="url" target="_blank" *ngIf="url.substr(0, 1) === '/'"><img [src]="url" style="width: 64px;"></a>
						<button type="button" class="btn btn-xs btn-danger" title="Delete" (click)="data.content[i]='X'">X</button>
						<br>
					</div>
					<br>
				</ng-template>
				<ng-template ngFor let-url let-i="index" [ngForOf]="data.imgData">
					<div *ngIf="url !='X'" style="text-align: left">
						<img src="{{ data.imgData[i] || '/static/images/camera.png' }}" (click)="selProfile.show(i)" style="cursor: pointer; max-width: 256px; padding: 10px">
						<button type="button" class="btn btn-xs btn-danger" title="Delete" (click)="data.imgData[i]='X'">X</button>
					</div>
				</ng-template>
				<modal #selProfile [buttons]=selImageButtons title="Select Your Post Picture">
					<div class="nosel">
						<div>
							<input id="profile-input" type="file" (change)="loadImage(cropper, $event)" accept="image/*">
							<label for="profile-input" class="btn btn-primary"><strong>Choose file &#187;</strong></label>
						</div>
						<br>
						<img-cropper #cropper [image]="cropData" [settings]="cropperSettings"></img-cropper>
						<br><br>
					</div>
				</modal>
			</div>
		</div>
		<br>
		<button class="btn btn-deal" (click)="submitPost()" [disabled]="loading || !agreed"><span class="plus-ico"></span>Submit Post For Approval</button>
	</div>
	<div class="action" *ngIf="!deal.assigned">
		<button class="btn btn-deal" (click)="confirmAddr.show()" [disabled]="!!err || !agreed"><span class="plus-ico"></span>Accept Endorsement</button>
	</div>
	<br><br>
	<!--<div class="share-this">
		<a href="#">Share this deal</a>
	</div>-->
</div>

<modal #confirmAddr [buttons]=confirmButtons title="Confirm Address" width="790px">
	<div class="nosel">
		<p>Please confirm your name and address below:</p>
		<div>
			<div>Name: {{ info.name }}</div>
			<div>Address Line 1: {{ info.addr1 }}</div>
			<div>Address Line 2: {{ info.addr2 }}</div>
			<div>City: {{ info.city }}</div>
			<div>State: {{ info.state }}</div>
			<div>Zip: {{ info.zip }}</div>
			<div>Country: {{ info.country }}</div>
		</div>
	</div>
</modal>
