<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>EARNINGS</h1>
	</div>
</div>

<div class="content">
	<div class="filter">
		<p class="sub">SEE EARNINGS FOR:</p>
		<select class="range" name="">
			<option>Last 7 Days</option>
			<option>Last Month</option>
			<option>Last Year</option>
		</select>
	</div>
	<ul class="legends">
		<li class="earning">EARNINGS ($ + PERKS)</li>
		<li class="sway-rep">SWAY REP</li>
	</ul>

	<div id="earning-graph">
		<img src="/infApp/static/images/earning-stats-temp.jpg" style="width:100%;">
	</div>
</div>
