<form id="profile" class="user-form" #f="ngForm" (ngSubmit)="Save()">
	<div class="avatar">
		<div class="profile-actions">
			<div class="back">
				<a [routerLink]="['/dealFeed']"></a>
			</div>
			<div class="page-title">
				<h1>EDIT PROFILE</h1>
			</div>
			<div class="save"><button type="submit" class="btn btn-primary" [disabled]="!f.valid || loading">save</button></div>
		</div>
		<div class="overlay">
			<div class="holder">
				<a class="camera" (click)="selProfile.show('profile')">save</a>
				<a class="camera-mini" (click)="selCover.show('cover')">save</a>
			</div>
			<modal #selCover [buttons]=selImageButtons title="Select Your Cover Picture" width="790px">
				<div class="nosel">
					<div>
						<input id="cover-input" type="file" (change)="loadImage(coverCropper, $event)">
						<label for="cover-input" class="btn btn-primary"><strong>Choose file &#187;</strong></label>
					</div>
					<br>
					<img-cropper #coverCropper [image]="coverData" [settings]="coverCropperSettings"></img-cropper>
					<br><br>
				</div>
			</modal>
		</div>
		<div class="user-thumb">
			<img src="{{ data.imageUrl || '/infApp/static/images/influencer-profile.png' }}" *ngIf="!cropData.image">
			<img [src]="cropData.image" *ngIf="cropData.image">
			<modal #selProfile [buttons]=selImageButtons title="Select Your Profile Picture">
				<div class="nosel">
					<div>
						<input id="profile-input" type="file" (change)="loadImage(cropper, $event)">
						<label for="profile-input" class="btn btn-primary"><strong>Choose file &#187;</strong></label>
					</div>
					<br>
					<img-cropper #cropper [image]="cropData" [settings]="cropperSettings"></img-cropper>
					<br><br>
				</div>
			</modal>
		</div>
	</div>
	<!-- TODO: clean up -->
	<div class="content">
		<div class="field-group">
			<h3 class="field-group-hdr">CONTACT INFO</h3>
			<div class="field two-cols">
				<label>Full Name</label><input type="text" name="name" [(ngModel)]="data.name" placeholder="">
			</div>
			<div class="field two-cols">
				<label>Gender</label>
				<select class="form-control" name="gender" [(ngModel)]="data.gender">
					<option value="">Not Set</option>
					<option value="unicorn">Not applicable</option>
					<option value="f">Female</option>
					<option value="m">Male</option>
				</select>
			</div>
			<div class="field two-cols">
				<label>Phone (<span>For security &amp; notifications</span>)</label><input type="tel" name="phone" [(ngModel)]="data.phone"
					placeholder="555-555-5555">
			</div>
			<div class="field checkbox-field two-cols">
				<label>Send Deal Alerts</label>
				<div class="switch">
					<input id="cmn-toggle" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="sda" [(ngModel)]="data.dealPing">
					<label for="cmn-toggle"></label>
				</div>
			</div>
		</div>
		<div class="field-group">
			<div class="field two-cols">
				<label>Address</label><input type="text" name="address1" [(ngModel)]="data.address.address_line1" placeholder="90 Bedford St, New York">
			</div>
			<div class="field two-cols">
				<label>Address 2</label><input type="text" name="address2" [(ngModel)]="data.address.address_line2" placeholder="Apt. 6">
			</div>
			<div class="field two-cols">
				<label>City</label><input type="text" name="city" [(ngModel)]="data.address.address_city" placeholder="New York">
			</div>
			<div class="field two-cols">
				<label>State</label><input type="text" name="state" [(ngModel)]="data.address.address_state"
					placeholder="NY" minlength="2" maxlength="2">
			</div>
			<div class="field two-cols">
				<label>ZIP</label><input type="text" name="zip" [(ngModel)]="data.address.address_zip"
					placeholder="10014">
			</div>
			<div class="field two-cols">
				<label>Country</label><input type="text" [(ngModel)]="data.address.address_country"
					name="country" placeholder="US" minlength="2" maxlength="2">
			</div>
		</div>
		<div class="field-group">
			<h3 class="field-group-hdr">LOGIN INFO</h3>
			<div class="field two-cols">
				<!-- this can't be changed for now -->
				<label>Email</label><input type="email" name="email" [(ngModel)]="data.email" placeholder="Enter your email" readonly>
			</div>
			<div class="field two-cols">
				<label>Old Password</label><input type="password" name="pass" [(ngModel)]="data.oldPass" placeholder="Enter your old password">
			</div>
			<div class="field two-cols">
				<label>New Password</label><input type="password" name="pass" [(ngModel)]="data.pass" placeholder="Enter your password">
			</div>
			<div class="field two-cols">
				<label>Retype</label><input type="password" name="pass2" [(ngModel)]="data.pass2" placeholder="Confirm password">
			</div>
		</div>
		<div class="field-group">
			<h3 class="field-group-hdr">CONNECT YOUR ACCOUNTS</h3>
			<div class="instruction">
				<h4>ATLEAST 1 ACCOUNT IS REQUIRED:</h4>
				<span>*Accounts must be publicly viewable.</span>
			</div>
			<div class="field two-cols">
				<label>Instagram:</label><input type="text" name="instagram" [(ngModel)]="data.instagram" placeholder="Enter your username">
			</div>
			<div class="field two-cols">
				<label>Youtube:</label><input type="text" name="youtube" [(ngModel)]="data.youtube" placeholder="Enter your username">
			</div>
			<div class="field two-cols">
				<label>Twitter:</label><input type="text" name="twitter" [(ngModel)]="data.twitter" placeholder="Enter your username">
			</div>
			<div class="field two-cols">
				<label>Facebook:</label><input type="text" name="facebook" [(ngModel)]="data.facebook" placeholder="Enter your username">
			</div>
			<div class="fix-to-bot">
				<div class="field submit-field"><button type="submit" class="btn btn-primary" [disabled]="!f.valid || loading">Save Changes</button></div>
			</div>
		</div>
	</div>
</form>
