<a href="#" id="logo"><img src="/static/images/logo.png"></a>

<div class="content signup-form">
	<form id="sigup" #f="ngForm" (ngSubmit)="ForgotPassword()">
		<div class="fields">
			<div *ngIf="!success" class="field-text" style="color: #fff">Please enter your email address. You will receive a link to create a new password via email. Please remember to check
				your spam foler.
				<br>
				<br>
			</div>
			<div *ngIf="!success" class="field text-field email">
				<input type="email" placeholder="Email" class="form-control" name="username" [(ngModel)]="form.email" required pattern="^[^@]+@[^@]+\.[^@]+$">
			</div>
			<div *ngIf="error" class="notification error">
				<p style="color: #fff">There was an error processing your request, please try again later.</p>
			</div>
			<div *ngIf="success" class="notification success">
				<p style="color: #fff">Please check your Email.</p>
			</div>
		</div>
		<div class="fix-to-bot">
			<div class="field link-field">&nbsp;</div>
			<div class="field submit-field"><button type="submit" class="btn btn-primary" [disabled]="!f.valid || loading">Reset Password</button></div>
			<div class="field link-field"><a [routerLink]="['/signup']" class="have-an-account">Don't have an account?</a></div>
		</div>
	</form>
</div>
