<div class="influencer-page-banner">
	<div class="influencer-logo"><img src="/infApp/static/images/influencer-profile.png"></div>
</div>

<div class="content">
	<h2>Nick Waken</h2>
	<p>Connected Networks: <span>FB, Twitter, YouTube, Instagram</span></p>

	<div class="counter">
		<div class="deals"><span class="count">234</span><label>DEALS</label></div>
		<div class="followers"><span class="count">239K</span><label>FOLLOWERS</label></div>
		<div class="engagements"><span class="count">5.7M</span><label>ENGAGEMENTS</label></div>
	</div>

	<div class="recent">
		<h5>RECENT ENDORSEMENTS</h5>
		<ul class="recent-endorsement">
			<li class="endor-item">
				<img src="/infApp/static/images/endorsement/influencer-endorcement-item1.jpg">
				<h4>NIKE <br>Fitness</h4>
				<span class="ctr">94.4K ENGAGEMENTS</span>
			</li>
			<li class="endor-item">
				<img src="/infApp/static/images/endorsement/influencer-endorcement-item2.jpg">
				<h4>Bern <br>Helmets</h4>
				<span class="ctr">94.4K ENGAGEMENTS</span>
			</li>
			<li class="endor-item">
				<img src="/infApp/static/images/endorsement/influencer-endorcement-item3.jpg">
				<h4>Metal <br>Mulisha</h4>
				<span class="ctr">94.4K ENGAGEMENTS</span>
			</li>
			<li class="endor-item">
				<img src="/infApp/static/images/endorsement/influencer-endorcement-item4.jpg">
				<h4>Berlin <br>Travel</h4>
				<span class="ctr">94.4K ENGAGEMENTS</span>
			</li>
		</ul>
	</div>
</div>
