<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title">
		<h1>My Profile</h1>
	</div>
</div>

<div class="influencer-page-banner">
	<div class="influencer-logo"><img src="{{ user.imageUrl || '/infApp/static/images/influencer-profile.png' }}"></div>
</div>

<div class="content">
	<h2>{{ bio.name }}</h2>
	<p>Connected Networks: <span>{{ bio.networks?.join(', ') }}</span></p>

	<div class="counter">
		<div class="deals"><span class="count">{{ bio.deals | fmtNum }}</span><label>DEALS</label></div>
		<div class="followers"><span class="count">{{ bio.followers | fmtNum }}</span><label>FOLLOWERS</label></div>
		<div class="engagements"><span class="count">{{ bio.engagements | fmtNum }}</span><label>ENGAGEMENTS</label></div>
	</div>

	<div class="recent">
		<h5>RECENT ENDORSEMENTS</h5>
		<ul class="recent-endorsement">
			<li *ngFor="let d of bio.completedDeals" [routerLink]="['/postStats', d.id]" class="endor-item" style="cursor: pointer">
				<img [src]=d.image>
				<h4>{{ d.name }}</h4>
				<span class="ctr">{{ d.engagements | fmtNum }} ENGAGEMENTS</span>
			</li>
		</ul>
	</div>
</div>
