<div id="menu-sidebar">
	<h2><a (click)="toggleMenu()" style="color: #fff;"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>&nbsp;&nbsp;&nbsp; MENU</h2>

	<ul class="menu">
		<li><a [routerLink]="['/dealFeed']">Home Feed</a></li>
		<li><a [routerLink]="['/influencer']">My Profile</a></li>
		<li><a [routerLink]="['/deals']">My Endorsements</a></li>
		<li><a [routerLink]="['/earningStats']">Sway Stats</a></li>
	</ul>

	<ul class="account-actions">
		<li><a [routerLink]="['/editProfile']">Edit Profile</a></li>
		<li><a [routerLink]="['/cashoutEarnings']">Cashout Earnings</a></li>
	</ul>
</div>