<div class="header-section">
	<div class="back">
		<a href="#"></a>
	</div>
	<div class="title"></div>
</div>

<div class="content">
	<div class="tabs">
		<div class="tab"><a href="#">Completed</a></div>
		<div class="tab"><a href="#" class="active">Pending</a></div>
	</div>
	<ul class="endorsement-list">
		<li class="endorsement-item">
			<div class="thumb"><img src="/infApp/static/images/endorsement/img1.jpg"></div>
			<div class="details">
				<h4>Skinny Bunny Tea</h4>
				<ul class="cat">
					<li>PAYOUT REMAINING: <span>$10,259</span></li>
					<li>PERKS: <span>-name-</span></li>
					<li>ACCEPTED: <span>FB, Twitter, YouTube, Instagram</span></li>
				</ul>
				<a href="#" class="btn btn-view">View Endorsement</a>
			</div>
		</li>
		<li class="endorsement-item">
			<div class="thumb"><img src="/infApp/static/images/endorsement/img2.jpg"></div>
			<div class="details">
				<h4>Steve AoKi</h4>
				<ul class="cat">
					<li>PAYOUT REMAINING: <span>$10,259</span></li>
					<li>PERKS: <span>-name-</span></li>
					<li>ACCEPTED: <span>FB, Twitter, YouTube, Instagram</span></li>
				</ul>
				<a href="#" class="btn btn-view">View Endorsement</a>
			</div>
		</li>
	</ul>
</div>
