<div class="header-section">
	<div class="back">
		<a [routerLink]="['/dealFeed']"></a>
	</div>
	<div class="title"></div>
</div>

<div class="content">
	<div class="tabs">
		<div class="tab"><a href="#">Today</a></div>
		<div class="tab"><a href="#" class="active">All time</a></div>
	</div>
	<ul class="stats-list">
		<li class="stat-item">
			<div class="ico views"><i></i></div>
			<div class="ctr"><span>31 235</span></div>
			<div class="desc"><span>estimated views</span></div>
		</li>
		<li class="stat-item">
			<div class="ico received"><i></i></div>
			<div class="ctr"><span>2 486</span></div>
			<div class="desc"><span>likes received</span></div>
		</li>
		<li class="stat-item">
			<div class="ico clicks"><i></i></div>
			<div class="ctr"><span>115</span></div>
			<div class="desc"><span>link clicks</span></div>
		</li>
		<li class="stat-item">
			<div class="ico comments"><i></i></div>
			<div class="ctr"><span>325</span></div>
			<div class="desc"><span>comments</span></div>
		</li>
		<li class="stat-item">
			<div class="ico earnings"><i></i></div>
			<div class="ctr"><span>$1425</span></div>
			<div class="desc"><span>earnings</span></div>
		</li>
		<li class="stat-item">
		</li>
	</ul>
</div>
