<div class="top-title">Step 1</div>

<div class="content">
	<p>Simply pick from endorsements that Sway automatically tailors to you and your fanbase</p>
	<ul class="walkthrough-pager">
		<li class="bullet active"><a [routerLink]="['/walkthrough', 1]">1</a></li>
		<li class="bullet"><a [routerLink]="['/walkthrough', 2]">2</a></li>
		<li class="bullet"><a [routerLink]="['/walkthrough', 3]">3</a></li>
		<li class="bullet"><a [routerLink]="['/walkthrough', 4]">4</a></li>
		<li class="next"><a [routerLink]="['/walkthrough', 2]">Next</a></li>
	</ul>
	<div class="thumbnail-small"><img src="/static/images/walkthrough_1.png"></div>
</div>
